# URL of the Lineup web app (used for "Start free" / "Log in" links)
PUBLIC_APP_URL=https://app.lineup.io

# Canonical base URL of this landing site (used for og:url etc.)
PUBLIC_SITE_URL=https://lineup.io
